
<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-autoplay="5000">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent" dir="rtl">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp">محمد ندیم خان بھابھہ</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                            میں کھجوروں بھرے صحراؤں میں دیکھا گیا ہوں <br>
                            تخت کے بعد تیرے پاؤں میں دیکھا گیا ہوں
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/slider/nadeem.jpg');"></div>
                </div>
                <div class="swiper-slide dark">
                    <div class="video-wrap">
                        <video id="slide-video" poster="images/videos/explore-poster.jpg" preload="auto" loop autoplay muted>
                            <source src='images/slider/video.webm' type='video/webm' />
                            <source src='images/videos/explore.mp4' type='video/mp4' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp">تمہارے ساتھ رہنا ہے</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                            سہولت ہو اذیت ہو تمہارے ساتھ رہنا ہے <br>
                            کہ اب کوئی بھی صورت ہو تمہارے ساتھ رہنا ہے
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/slider/nadeem1.jpg'); background-position: center top;"></div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp">محمد ندیم بھابھہ</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                            ہے مرے واسطے دعا مرا عشق <br>
                            مجھ کو ذرخیز کر گیا مرا عشق
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/slider/nadeem3.jpg'); background-position: center top;"></div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp">میں کہیں اور جا نہیں سکتا</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                            ملے بغیر کبھی رد ہمیں نہیں کرنا<br>
                            کئی حجاب بغل گیر ہو کے کھلتے ہیں
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/slider/nadeem4.jpg'); background-position: center top;"></div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
        </div>

        <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

    </div>
</section>
